In [381]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn.model_selection import train_test_split
import seaborn as sns

#Use database 
import sqlite3
conn = sqlite3.connect('example.db')

# Rosbank ML Competition

- Данные

Датасет, который содержит историю транзакций клиентов за 3 месяца льготного использования банковского продукта

- Задача

*Задача* бинарной классификации – прогноз оттока клиентов

Колонка cl_id содержит вутренний id клиента. Для каждого уникальнго cl_id следует предсказать продолжит ли клиент пользоваться продуктом (target_flag). Значение 0 соответствует отказу, а значение 1 соответствует продолжению использования

### Описание данных
- trx_category

Вид транзакции, POS – оплата через POS терминал, C2C_OUT – перевод на карту (исходящий платёж), C2C_IN – перевод на карту (входящий платёж), DEPOSIT – пополнение карты в банкомате, WD_ATM_PARTNER – снятие наличных в банкоматах партнерах,

In [382]:
df = pd.read_csv('./data/train.csv')

def convert_TRDATETIME(dt):
    new_dt=datetime.strptime(dt, '%d%b%y:%H:%M:%S')
    return int(new_dt.strftime('%Y%m%d%H%M%S'))

def convert_PERIOD(dt):
    new_dt=datetime.strptime(dt, '%d/%m/%Y')
    return int(new_dt.strftime('%Y%m%d'))
    
    
df['TRDATETIME'] = df.apply(lambda x: convert_TRDATETIME(x['TRDATETIME']), axis=1)
df['PERIOD'] = df.apply(lambda x: convert_PERIOD(x['PERIOD']), axis=1)

In [383]:
df.head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum
0,20171001,0,5200,NaN,810,20171021000000,5023.0,POS,0,0.0
1,20171001,0,6011,NaN,810,20171012122407,20000.0,DEPOSIT,0,0.0
2,20171201,0,5921,NaN,810,20171205000000,767.0,POS,0,0.0
3,20171001,0,5411,NaN,810,20171021000000,2031.0,POS,0,0.0
4,20171001,0,6012,NaN,810,20171024131424,36562.0,C2C_OUT,0,0.0

In [384]:
# Дополнительные данные с MCC-кодами и валютами
mcc = pd.read_csv('./data/mcc_codes_alfa.csv')
currencies = pd.read_csv('./data/currencies.csv')

In [385]:
mcc.head()

,Unnamed: 0,mcc,mcc_name,mcc_group,big_cashback,no_cashback
0,0,742,Ветеринарные услуги,Контрактные услуги,0,0
1,1,763,Сельскохозяйственные кооперативы,Контрактные услуги,0,0
2,2,780,Ландшафтные и садоводческие магазины,Контрактные услуги,0,0
3,3,1520,Генеральные подрядчики – жилищное и торговое с...,Контрактные услуги,0,0
4,4,1711,"Генеральные подрядчики по вентиляции, теплосна...",Контрактные услуги,0,0

In [386]:
currencies.head()

,Unnamed: 0,Entity,Currency,AlphabeticCode,NumericCode,MinorUnit,WithdrawalDate
0,0,AFGHANISTAN,Afghani,AFN,971.0,2,NaN
1,1,ÅLAND ISLANDS,Euro,EUR,978.0,2,NaN
2,2,ALBANIA,Lek,ALL,8.0,2,NaN
3,3,ALGERIA,Algerian Dinar,DZD,12.0,2,NaN
4,4,AMERICAN SAMOA,US Dollar,USD,840.0,2,NaN

1. Наборы данных вида Transactions (несколько транзакций на одного клиента) трансформировать в таблицу, где cl_id будут уникальными (соответственно 4000 строк в train и 1000 строк в test

2. Для каждого cl_id будет уникальное целевое событие target_flag, а также уникальный канал привлечения клиента channel_type (клиент привлекается лишь однажды и с самого начала его записи присваивается значение канала привлечения)

3. При агрегации (*pandas.DataFrame.groupby*) по cl_id (или по связке cl_id, channel_type, target_flag) необходимо создавать производные фичи, идеи для таких фичей могут быть следующими:

    - общая сумма транзакций по каждой из trx_category
    - общая сумма транзакции по основным вылютам (напр. выделить рубли, доллары и евро - предположительно, это будут самые крупные категории)
    - общая сумма транзакций по категориям MCC кодов (например, выбрать основные/популярные MCC коды). ВНИМАНИ! Некоторые MCC коды из train могут быть не представлены в test. Про MCC коды в целом: http://www.banki.ru/wikibank/mcc-kod/; Справочник MCC кодов: https://mcc-codes.ru/code; Про некоторые категории кэшбека Росбанка: https://mcc-codes.ru/card/rosbank-sverkh-plus;
    - возможные агрегации по времени суток и дням недели - траты в выходные (праздники) или будни, в ночное время или в рабочее и т.д.

In [387]:
def client_split_train_test(df):
    cl_ids = df[['cl_id', 'channel_type', 'target_flag']].drop_duplicates()
    cl_train, cl_test = train_test_split(cl_ids, test_size=0.2, random_state=42 )
    train = cl_train[['cl_id']].merge(df, how='inner', on='cl_id')
    test = cl_test[['cl_id']].merge(df, how='inner', on='cl_id')
    return train, test

train, test = client_split_train_test(df)
train.head()

,cl_id,PERIOD,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum
0,8729,20170201,7311,type1,810,20170203000000,5000.00,POS,1,8791.85
1,8729,20170201,7230,type1,810,20170211000000,800.00,POS,1,8791.85
2,8729,20170201,5411,type1,810,20170221000000,1837.14,POS,1,8791.85
3,8729,20170201,5411,type1,810,20170227000000,2610.71,POS,1,8791.85
4,8729,20170201,5812,type1,810,20170222000000,1583.40,POS,1,8791.85

In [388]:
#Use database
import sqlite3
conn = sqlite3.connect('rosbank.db')
mcc.to_sql('mcc', conn, if_exists='replace')
currencies.to_sql('currencies', conn, if_exists='replace')
train.to_sql('train', conn, if_exists='replace')
test.to_sql('test', conn, if_exists='replace')

/Users/akirichenko/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)
/Users/akirichenko/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

### Гипотезы
На лояльность клиента влияют следующие факторы:

1. Сумма совершенных покупок по программам лояльности
2. Сумма транзакций по trx категориям
3. Сумма покупок по группам mcc категорий
4. Сумма покупок совершенных без кэшбэка
5. Медианное количество POS-транзакций в месяц
6. Медианное количество денег, переведенное на карту клиента
7. Количество маленьких покупок совершенных по карте в месяц (сумма до 1000 рублей)

In [389]:
# Лояльность по количеству покупок
df_median=pd.read_sql("""Select cl_id,
                                channel_type, 
                                target_flag, 
                                SUM(big_cashback) as big_cashback_cnt, 
                                SUM(no_cashback) as no_cashback_cnt, 
                                SUM(case when trx_category == 'POS' then 1 else 0 end) as pos_cnt ,
                                SUM(case when trx_category != 'POS' then 1 else 0 end) as no_pos_cnt ,
                                SUM(case when trx_category in ('C2C_IN', 'DEPOSIT') then 1 else 0 end) as c2c_in_amnt,
                                SUM(case when amount<=1000 then 1 else 0 end) as small_transactions_cnt
                    FROM train LEFT JOIN mcc
                        ON mcc.mcc = train.MCC
                GROUP BY cl_id, channel_type, target_flag""", conn)
df_median.head()

,cl_id,channel_type,target_flag,big_cashback_cnt,no_cashback_cnt,pos_cnt,no_pos_cnt,c2c_in_amnt,small_transactions_cnt
0,0,None,0,1,2,3,2,1,1
1,1,None,0,76,5,101,3,2,89
2,5,None,1,29,37,111,31,4,48
3,9,None,0,0,10,29,10,4,26
4,10,None,0,100,91,374,89,25,370

In [390]:
# Категории транзакций
table = pd.read_sql("""SELECT cl_id, 
                               CASE 
                                   WHEN mcc_group NOT IN 
                                               ('Коммунальные и кабельные услуги',
                                                'Транспорт',
                                                'Автомобили и транспортные средства',
                                                'Развлечения',
                                                'Личные услуги',
                                                'Розничные магазины',
                                                'Поставщик услуг',
                                                'Магазины одежды',
                                                'Различные магазины') 
                                    THEN 'Other mcc category'
                                    else mcc_group END mcc_group, 
                                SUM(amount) amnt, COUNT(1) cnt 
                        FROM mcc INNER JOIN train
                            ON mcc.mcc = train.MCC
                            GROUP BY cl_id, mcc_group
                            ORDER BY cl_id, cnt DESC
                    """, conn)

table = table.pivot_table(values='cnt', index=['cl_id'], columns=['mcc_group']).fillna(value=0).reset_index()

In [409]:
# Используемые валюты
df_currency = pd.read_sql("""SELECT cl_id,
                      CASE WHEN currencies.Currency 
                            NOT IN ('Russian Ruble', 'Euro', 'US Dollar') 
                           THEN 'Other Currencies'
                           ELSE currencies.Currency 
                       END currency,
                       1 as cnt FROM currencies 
                                        INNER JOIN train ON train.currency = currencies.NumericCode
                            WHERE trx_category == 'POS'
                        GROUP BY 1, 2
                        ORDER BY 2 DESC
            """, conn)\
            .pivot_table(values='cnt', index=['cl_id'], columns=['currency']).fillna(value=0).reset_index()
df_currency.head()

currency  cl_id  Euro  Other Currencies  Russian Ruble  US Dollar
0             0   0.0               0.0            1.0        0.0
1             1   1.0               0.0            1.0        0.0
2             5   1.0               1.0            1.0        0.0
3             9   0.0               0.0            1.0        0.0
4            10   0.0               0.0            1.0        0.0

In [412]:
#Средний размер покупки по карте
df_avg = pd.read_sql("""SELECT cl_id,
                               AVG(amount) avg_trans_amount  FROM train 
                            WHERE trx_category == 'POS'
                        GROUP BY 1
            """, conn)
df_avg.head()

   cl_id  avg_trans_amount
0      0       2607.000000
1      1       1213.643960
2      5       2617.123874
3      9        426.382414
4     10        537.315802

In [416]:
#Среднее количество транзакций в день
df_avg_transactions = pd.read_sql("""SELECT train.cl_id
                                            ,COUNT() as last_month_transaction_cnt
                                            ,AVG(amount) as last_month_avg_amt
                                        FROM train INNER JOIN (SELECT cl_id, MAX(PERIOD) PERIOD
                                                                    FROM train GROUP BY cl_id) maxprd
                                                    ON   maxprd.cl_id = train.cl_id
                                                    AND  maxprd.PERIOD = train.PERIOD
                                        WHERE train.trx_category == 'POS'
                                               GROUP BY train.cl_id
            """, conn)
df_avg_transactions.head()

   cl_id  last_month_transaction_cnt  last_month_avg_amt
0      0                           1          767.000000
1      1                          24          481.458333
2      5                          30         3030.812333
3      9                          13          119.923077
4     10                         111          552.191622

In [421]:
#Все фичи
df_full = df_median\
            .merge(table, how='inner', on='cl_id')\
            .merge(df_currency, how='inner', on='cl_id')\
            .merge(df_avg_transactions, how='inner', on='cl_id')\
            .merge(df_avg, how='inner', on='cl_id')

In [422]:
corr = df_full.corr()
corr

,cl_id,target_flag,big_cashback_cnt,no_cashback_cnt,pos_cnt,no_pos_cnt,c2c_in_amnt,small_transactions_cnt,Other mcc category,Автомобили и транспортные средства,...,Различные магазины,Розничные магазины,Транспорт,Euro,Other Currencies,Russian Ruble,US Dollar,last_month_transaction_cnt,last_month_avg_amt,avg_trans_amount
cl_id,1.000000,-0.370937,-0.138257,-0.118292,-0.100661,-0.128015,0.200299,-0.083603,0.030501,-0.001154,...,-0.144171,-0.021559,-0.100834,-0.143030,-0.129616,-0.008847,0.010113,-0.054298,-0.005976,0.001019
target_flag,-0.370937,1.000000,0.234318,0.205865,0.229226,0.194191,-0.078372,0.182108,0.063781,0.107498,...,0.246524,0.120400,0.116001,0.113033,0.124644,0.082392,0.007125,0.050219,-0.017643,0.005018
big_cashback_cnt,-0.138257,0.234318,1.000000,0.321669,0.869225,0.300329,0.167604,0.838977,0.239689,0.314178,...,0.905813,0.593737,0.306039,0.150558,0.112785,0.080731,0.058930,0.488845,-0.097764,-0.069058
no_cashback_cnt,-0.118292,0.205865,0.321669,1.000000,0.413288,0.931017,0.492910,0.407193,0.241352,0.225353,...,0.332291,0.275132,0.178036,0.038353,0.049757,0.094579,0.031864,0.207040,-0.037410,-0.011997
pos_cnt,-0.100661,0.229226,0.869225,0.413288,1.000000,0.355994,0.268525,0.960359,0.326511,0.467578,...,0.843406,0.825065,0.387391,0.138199,0.107163,0.097621,0.082666,0.574739,-0.116798,-0.084153
no_pos_cnt,-0.128015,0.194191,0.300329,0.931017,0.355994,1.000000,0.525440,0.364513,0.109921,0.206592,...,0.297838,0.268979,0.154913,0.015463,0.038931,0.094556,0.008647,0.161368,-0.027293,-0.002852
c2c_in_amnt,0.200299,-0.078372,0.167604,0.492910,0.268525,0.525440,1.000000,0.268747,0.131991,0.237084,...,0.146359,0.279327,0.046547,-0.057066,-0.057421,0.067490,-0.007876,0.138180,0.002150,-0.012567
small_transactions_cnt,-0.083603,0.182108,0.838977,0.407193,0.960359,0.364513,0.268747,1.000000,0.288538,0.407743,...,0.811944,0.814311,0.403771,0.117897,0.087413,0.073554,0.080825,0.551282,-0.117398,-0.087334
Other mcc category,0.030501,0.063781,0.239689,0.241352,0.326511,0.109921,0.131991,0.288538,1.000000,0.186942,...,0.217409,0.193414,0.103055,0.063966,0.073236,0.006943,0.100266,0.201153,-0.034396,-0.022488
Автомобили и транспортные средства,-0.001154,0.107498,0.314178,0.225353,0.467578,0.206592,0.237084,0.407743,0.186942,1.000000,...,0.283593,0.378894,0.015291,0.038790,0.055842,0.057745,-0.002430,0.255841,-0.063706,-0.045178
Коммунальные и кабельные услуги,-0.062761,0.109009,0.160900,0.401896,0.243765,0.224378,0.087555,0.230610,0.109656,0.118029,...,0.169079,0.152141,0.107763,0.037166,0.011313,0.045125,0.050908,0.165127,-0.036544,-0.025959
Личные услуги,-0.071922,0.132150,0.309754,0.167676,0.275047,0.132373,0.064750,0.221212,0.101861,0.050139,...,0.291131,0.098249,0.146127,0.092507,0.077627,0.041260,0.044954,0.125608,-0.029603,-0.024214
Магазины одежды,-0.099484,0.161166,0.437729,0.176968,0.454327,0.182271,0.102668,0.376362,0.125939,0.136739,...,0.377401,0.312012,0.100498,0.108243,0.111967,0.023544,0.039642,0.272340,-0.057199,-0.043321
Поставщик услуг,-0.125968,0.193938,0.293745,0.942161,0.350836,0.983778,0.526241,0.354830,0.103672,0.205376,...,0.296447,0.251857,0.153619,0.021017,0.044337,0.096182,0.005032,0.158634,-0.028541,-0.002093
Развлечения,-0.031843,0.103011,0.343633,0.223895,0.354290,0.147468,0.090318,0.324720,0.082687,0.105737,...,0.335694,0.174696,0.239457,0.146299,0.085828,0.029459,0.031513,0.170731,-0.036714,-0.030434
Различные магазины,-0.144171,0.246524,0.905813,0.332291,0.843406,0.297838,0.146359,0.811944,0.217409,0.283593,...,1.000000,0.467581,0.347400,0.180335,0.128773,0.076678,0.077723,0.473026,-0.090508,-0.062499
Розничные магазины,-0.021559,0.120400,0.593737,0.275132,0.825065,0.268979,0.279327,0.814311,0.193414,0.378894,...,0.467581,1.000000,0.109287,0.001331,-0.017227,0.092289,0.020063,0.476287,-0.105475,-0.078600
Транспорт,-0.100834,0.116001,0.306039,0.178036,0.387391,0.154913,0.046547,0.403771,0.103055,0.015291,...,0.347400,0.109287,1.000000,0.160327,0.188396,0.025817,0.098195,0.233970,-0.030256,-0.022333
Euro,-0.143030,0.113033,0.150558,0.038353,0.138199,0.015463,-0.057066,0.117897,0.063966,0.038790,...,0.180335,0.001331,0.160327,1.000000,0.289736,-0.180103,0.122093,0.070542,-0.030581,-0.023226
Other Currencies,-0.129616,0.124644,0.112785,0.049757,0.107163,0.038931,-0.057421,0.087413,0.073236,0.055842,...,0.128773,-0.017227,0.188396,0.289736,1.000000,-0.048853,0.182844,0.060987,-0.008881,0.052672
Russian Ruble,-0.008847,0.082392,0.080731,0.094579,0.097621,0.094556,0.067490,0.073554,0.006943,0.057745,...,0.076678,0.092289,0.025817,-0.180103,-0.048853,1.000000,-0.088281,0.037946,0.015436,0.011669
US Dollar,0.010113,0.007125,0.058930,0.031864,0.082666,0.008647,-0.007876,0.080825,0.100266,-0.002430,...,0.077723,0.020063,0.098195,0.122093,0.182844,-0.088281,1.000000,0.049596,-0.016508,-0.014526
last_month_transaction_cnt,-0.054298,0.050219,0.488845,0.207040,0.574739,0.161368,0.138180,0.551282,0.201153,0.255841,...,0.473026,0.476287,0.233970,0.070542,0.060987,0.037946,0.049596,1.000000,-0.079081,-0.055637
last_month_avg_amt,-0.005976,-0.017643,-0.097764,-0.037410,-0.116798,-0.027293,0.002150,-0.117398,-0.034396,-0.063706,...,-0.090508,-0.105475,-0.030256,-0.030581,-0.008881,0.015436,-0.016508,-0.079081,1.000000,0.523920
avg_trans_amount,0.001019,0.005018,-0.069058,-0.011997,-0.084153,-0.002852,-0.012567,-0.087334,-0.022488,-0.045178,...,-0.062499,-0.078600,-0.022333,-0.023226,0.052672,0.011669,-0.014526,-0.055637,0.523920,1.000000

In [424]:
corr.target_flag.sort_values(ascending=False)

target_flag                           1.000000
Различные магазины                    0.246524
big_cashback_cnt                      0.234318
pos_cnt                               0.229226
no_cashback_cnt                       0.205865
no_pos_cnt                            0.194191
Поставщик услуг                       0.193938
small_transactions_cnt                0.182108
Магазины одежды                       0.161166
Личные услуги                         0.132150
Other Currencies                      0.124644
Розничные магазины                    0.120400
Транспорт                             0.116001
Euro                                  0.113033
Коммунальные и кабельные услуги       0.109009
Автомобили и транспортные средства    0.107498
Развлечения                           0.103011
Russian Ruble                         0.082392
Other mcc category                    0.063781
last_month_transaction_cnt            0.050219
US Dollar                             0.007125
avg_trans_amount                      0.005018
last_month_avg_amt                   -0.017643
c2c_in_amnt                          -0.078372
cl_id                                -0.370937
Name: target_flag, dtype: float64